---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";

interface Props {
  feature: {
    title: string;
    icon: string;
  };
  index: number;
}

const { feature, index }: Props = Astro.props;
---

<div
  class="bg-light pt-9 px-8 pb-10 rounded-3xl card-shadow flex flex-col gap-y-23 transform will-change-transform origin-center h-full lg:hover:-translate-y-8 transition-all duration-500 w-full"
>
  <div class="flex justify-between">
    <ImageMod
      src={feature.icon}
      width={300}
      height={200}
      alt={feature.title}
      class={`w-24 h-20 ${index === 1 ? "w-17! h-19!" : ""}`}
    />
    <em class="font-secondary text-text-dark/60 text-3xl italic">
      0{index + 1}
    </em>
  </div>
  <h3
    class="prose-em:font-light prose-em:text-primary has-em leading-10 prose-em:uppercase"
    set:html={markdownify(feature.title)}
  />
</div>
