---

---

<div
  class="absolute inset-0 -z-1 h-full w-full opacity-20"
  style={{
    backgroundImage: `
            linear-gradient(to right, var(--color-secondary) 1px, transparent 1px),
            linear-gradient(to bottom, var(--color-secondary) 1px, transparent 1px)
          `,
    backgroundSize: "32px 32px",
    maskImage: "linear-gradient(to right, transparent, black 80%)",
    WebkitMaskImage: "linear-gradient(to right, transparent, black 80%)",
  }}
>
</div>
