---
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";

const tags = await getTaxonomy("blogSinglePage", "tags");
const allTags = await getAllTaxonomy("blogSinglePage", "tags");
---

<Base title="Tags">
  <PageHeader title="Tags" />
  <section class="section">
    <div class="container text-center">
      <ul>
        {
          tags.map((tag: string) => {
            const count = allTags.filter((c: string) => c === tag).length;
            return (
              <li class="m-3 inline-block">
                <a
                  href={`/tags/${tag}`}
                  class="block rounded-full border border-border/50 px-4 py-3 text-text-dark/70 transition-colors duration-300 hover:border-primary hover:text-primary"
                >
                  {humanize(tag)}
                  <span class="ml-2 rounded-full bg-primary/5 px-2">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
