/* section style */
.section {
  @apply py-24 xl:py-28;
  content-visibility: auto;
  contain-intrinsic-size: auto 500px;
}

.section-sm {
  @apply py-16 xl:py-20;
}

/* container */
.container {
  @apply mx-auto xl:!max-w-[1360px] px-4;
}

/* social icons */
.social-icons {
  @apply space-x-4;
}
.social-icons li {
  @apply inline-block;
}
.social-icons li a {
  @apply flex h-10 w-10 items-center justify-center rounded-xl text-center leading-9 border border-border/50 text-text-dark/70 hover:text-text-dark transition-all duration-300;
}
.social-icons li a svg {
  @apply h-5 w-5;
}

/* notice */
.notice {
  @apply mb-6 rounded-lg border px-8 py-6;
}

.notice-head {
  @apply flex items-center;
}

.notice-head svg {
  @apply mr-3;
}

.notice-head p {
  @apply font-secondary text-xl font-semibold text-text-dark;
}

.notice-body {
  @apply mt-3;
}

.notice-body p {
  @apply my-0;
}

.notice.note {
  @apply text-[#1B83E2];
  @apply border-current;
}

.notice.tip {
  @apply text-[#40D294];
  @apply border-current;
}

.notice.info {
  @apply text-[#E3A72C];
  @apply border-current;
}

.notice.warning {
  @apply text-[#DB2C23];
  @apply border-current;
}

/* tab */
.tab {
  @apply overflow-hidden rounded-lg border border-border;
}

.tab-nav {
  @apply flex border-b border-border bg-light   !m-0 !list-none;
}

.tab-nav-item {
  @apply cursor-pointer border-b-[3px] border-border py-2 text-lg text-text-dark opacity-80  !my-0 !px-8;
}

.tab-nav-item.active {
  @apply border-b-[3px] border-dark opacity-100;
}

.tab-content {
  @apply px-5;
}

.tab-content-panel {
  @apply p-8;
}

.tab-content-panel p {
  @apply mb-0;
}

.tab-content-panel.active {
  @apply block;
}

/* accordion */
.accordion {
  @apply mb-6 overflow-hidden rounded-lg border border-border bg-light;
}

.accordion-header {
  @apply flex w-full cursor-pointer items-center justify-between px-8 py-4 text-lg text-text-dark;
}

.accordion-icon {
  @apply h-[.8em] w-[.8em] rotate-[-90deg] transition-transform duration-200;
}

.accordion-content {
  @apply max-h-0 overflow-hidden px-8 py-0;
}

.accordion.active .accordion-icon {
  @apply rotate-0;
}

.accordion.active .accordion-content {
  @apply max-h-screen;
}

/* modal */
.modal {
  @apply fixed inset-0 z-40 hidden h-full w-full overflow-auto;
}

.modal-overlay {
  @apply fixed inset-0 z-40 hidden h-full w-full bg-black/40;
}

.modal-content {
  @apply relative top-1/2 z-50 mx-auto max-w-[90%] -translate-y-1/2 rounded-lg bg-body p-8;
}

.modal-close {
  @apply absolute right-3 top-3 h-8 w-8 rounded-full bg-light text-center leading-8 text-text-dark;
}

/* content style */
.content {
  @apply [&>*:first-child]:mt-0 [&>*:first-child]:pt-0;
  @apply prose max-w-none;
  @apply prose-headings:mb-[.4em] prose-headings:font-secondary prose-headings:mt-[.6em] prose-headings:text-text prose-headings:italic prose-headings:font-normal  prose-headings:tracking-wide;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-p:text-2xl prose-p:text-text-dark;
  @apply prose-a:text-text prose-a:[&.btn]:no-underline prose-a:text-2xl;
  @apply prose-img:max-w-full prose-img:rounded-lg;
  @apply prose-strong:text-text-dark prose-strong:text-2xl;
  @apply prose-hr:border-border;
  @apply prose-pre:rounded-lg prose-pre:bg-dark prose-pre:text-2xl;
  @apply prose-code:text-text-light;
  @apply prose-li:text-text prose-li:text-2xl;
  @apply prose-blockquote:rounded-lg prose-blockquote:border prose-blockquote:border-l-10 prose-blockquote:border-primary prose-blockquote:bg-light prose-blockquote:px-8 prose-blockquote:py-10 prose-blockquote:font-secondary prose-blockquote:text-2xl prose-blockquote:not-italic prose-blockquote:text-text-dark;
  @apply prose-table:relative prose-table:overflow-hidden prose-table:rounded-lg prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:rounded-[inherit] prose-table:before:border prose-table:before:border-border prose-table:before:content-[""];
  @apply prose-thead:border-border prose-thead:bg-light;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4! prose-th:py-4.5! prose-th:text-text-dark;
  @apply prose-tr:border-border;
  @apply prose-td:relative prose-td:z-10 prose-td:px-3! prose-td:py-4.5!;
}

/* animation */
@keyframes dotPulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.animate-dot {
  animation: dotPulse 1.2s infinite;
}

/* Hero Title */
.hero-title {
  @apply text-[50px] sm:text-[60px] md:text-[80px] lg:text-[100px];
}
.hero-title {
  font-display: swap;
}

.hero-title em {
  @apply italic font-normal font-secondary leading-tight;
}
.hero-title em mark {
  @apply text-[50px] sm:text-[60px] md:text-[80px] lg:text-[105px];
  @apply text-primary bg-transparent relative inline-block;
}
.hero-title em mark::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  height: 11px;
  width: 100%;
  background-color: var(--color-primary, #fc2919);
  -webkit-mask: url("data:image/svg+xml,%3Csvg display='block' role='presentation' viewBox='0 0 219 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1.943 5.954 C 3.214 5.709 4.701 5.499 5.952 5.362 C 6.34 5.319 6.152 5.422 6.422 5.396 C 6.967 5.345 7.403 5.241 7.905 5.204 C 8.07 5.192 7.879 5.343 8.052 5.328 C 9.002 5.247 9.915 5.089 10.927 4.981 C 15.704 4.477 20.405 3.993 25.313 3.559 C 26.874 3.419 28.896 3.381 30.533 3.157 C 30.723 3.131 30.597 2.985 30.633 2.969 C 31.186 2.716 31.021 3.051 31.397 3.058 C 32.879 3.088 34.611 2.956 36.02 2.77 C 36.622 2.691 35.992 2.412 36.615 2.545 C 36.658 2.554 36.517 2.745 36.684 2.75 C 37.064 2.76 37.782 2.669 38.079 2.659 C 38.651 2.641 38.746 2.631 39.289 2.59 C 40.028 2.535 40.947 2.556 41.707 2.455 C 41.873 2.433 41.64 2.259 41.903 2.205 C 42.166 2.152 42.874 2.113 43.116 2.14 C 43.358 2.168 43.266 2.328 43.31 2.36 C 43.677 2.63 44.477 2.16 44.584 2.141 C 46.539 1.82 48.179 1.944 49.995 1.824 C 51.366 1.731 52.893 1.551 54.168 1.483 C 55.716 1.401 57.05 1.44 58.587 1.333 C 58.749 1.322 58.547 1.077 58.745 1.063 C 60.824 0.914 62.86 0.83 64.969 0.906 C 65.18 0.914 64.918 1.16 65.13 1.182 C 66.431 1.31 68.413 1.698 69.139 0.629 C 70.002 0.631 71.055 0.627 71.841 0.807 C 72.349 0.923 71.869 1.205 72.483 1.069 C 72.622 1.038 72.433 0.815 72.641 0.787 C 73.496 0.668 74.44 0.708 75.294 0.556 C 75.468 0.524 75.414 0.317 75.462 0.278 C 75.868 -0.043 76.578 0.435 76.73 0.467 C 77.891 0.701 78.743 0.565 79.819 0.538 C 80.065 0.531 79.766 0.256 80.003 0.24 C 81.23 0.159 82.513 0.144 83.735 0.238 C 84.007 0.26 83.763 0.512 83.893 0.535 C 84.467 0.634 84.584 0.166 85.136 0.252 C 85.253 0.269 85.192 0.482 85.214 0.505 C 85.553 0.86 85.83 0.337 85.915 0.324 C 87.004 0.14 87.671 0.666 88.703 0.567 C 88.826 0.555 88.543 0.292 88.889 0.273 C 91.184 0.149 93.699 0.177 95.956 0.364 C 96.311 0.393 96.061 0.601 96.083 0.626 C 96.452 1.016 96.682 0.484 96.797 0.463 C 97.711 0.308 98.573 0.743 99.193 0.105 C 102.359 0.248 105.39 0.038 108.526 0.247 C 109.303 0.298 110.045 0.375 110.805 0.489 C 110.854 0.496 110.766 0.758 110.863 0.77 C 112.035 0.92 111.811 0.512 112.59 0.017 C 112.787 -0.107 113.381 0.497 113.434 0.541 C 113.626 0.704 113.424 1.093 113.488 1.125 C 114.021 1.374 113.939 0.085 114.661 0.089 C 114.684 0.092 114.588 0.328 114.648 0.352 C 114.837 0.427 115.024 0.334 115.207 0.417 C 115.629 0.609 115.774 1.235 116.422 0.876 C 116.504 0.83 116.387 0.099 117.03 0.139 C 117.284 0.156 118.41 0.154 118.726 0.205 C 119.041 0.256 118.822 0.488 118.845 0.498 C 119.693 0.818 119.369 0.943 119.791 1.406 C 120.212 1.868 120.105 0.777 120.281 0.657 C 120.458 0.538 121.081 0.801 121.234 0.892 C 121.386 0.983 121.193 1.129 121.329 1.181 C 122.233 1.52 121.735 0.646 122.036 0.478 C 122.748 0.08 123.289 0.894 123.936 0.982 C 124.111 1.006 123.971 0.821 124.127 0.806 C 124.75 0.751 125.11 1.007 125.811 0.79 C 125.926 0.755 126.497 0.285 126.857 0.645 C 126.907 0.696 126.757 0.893 127.018 0.942 C 127.407 1.017 128.11 1.074 128.533 1.016 C 128.844 0.973 128.494 0.639 128.884 0.749 C 129.057 0.798 128.73 0.982 129.056 1.058 C 129.38 1.134 130.213 1.144 130.53 1.144 C 130.847 1.145 130.678 0.894 130.705 0.878 C 130.862 0.786 131.473 0.682 131.527 0.684 C 134.241 0.722 136.691 1.202 139.338 1.152 C 139.546 1.148 139.416 0.89 139.447 0.887 C 140.16 0.805 139.581 1.46 140.069 1.701 C 140.013 1.185 140.303 1.288 140.805 1.248 C 141.046 1.229 140.921 1.026 140.943 1.007 C 141.307 0.718 141.541 1.116 141.601 1.197 C 141.826 1.497 142.093 1.161 142.246 1.362 C 142.399 1.561 142.023 1.835 142.498 1.847 C 142.638 1.669 142.299 1.181 142.663 1.116 C 144.034 0.875 146.574 1.349 147.676 1.433 C 148.775 1.517 149.133 1.5 149.766 1.591 C 150.909 1.757 150.502 1.397 151.223 1.275 C 151.947 1.154 151.563 1.972 151.659 2.156 C 151.753 2.339 151.871 2.16 151.993 2.264 C 152.114 2.367 151.837 2.477 152.13 2.527 C 152.424 2.576 153.245 2.294 153.358 2.113 C 153.598 1.73 153.25 1.299 154.027 1.483 C 154.072 1.494 153.916 1.704 154.087 1.734 C 155.448 1.967 156.887 2.05 158.236 2.265 C 158.422 2.295 158.243 2.521 158.352 2.541 C 159.479 2.748 159.094 2.332 159.738 1.93 C 159.569 2.503 159.895 2.877 160.758 2.924 C 161.277 2.953 161.2 2.696 161.546 2.538 C 161.649 2.49 162.008 2.682 162.081 2.569 C 162.321 2.197 161.997 1.747 162.88 1.972 C 162.919 1.982 162.783 2.184 162.917 2.205 C 163.788 2.339 163.914 1.948 164.864 1.961 C 165.613 1.972 166.907 2.295 167.745 2.388 C 167.692 3.005 168.494 2.911 168.841 2.511 C 169.387 2.565 169.977 2.581 170.503 2.675 C 170.683 2.707 170.553 2.874 170.575 2.894 C 170.908 3.213 171.171 2.825 171.29 2.818 C 172.578 2.754 173.611 3.128 174.844 2.927 C 174.888 2.919 174.984 2.522 175.29 2.84 C 175.309 2.862 174.896 3.016 175.467 3.072 C 176.038 3.129 177.103 3.421 177.912 3.299 C 178.107 3.269 178.618 2.992 178.991 3.27 C 179.041 3.307 178.976 3.414 179.046 3.482 C 179.277 3.697 179.436 3.317 179.699 3.67 C 179.962 4.023 180.539 4.309 181.36 4.144 C 181.385 4.14 181.598 3.852 181.852 3.877 C 182.255 3.916 182.824 4.024 183.243 4.055 C 183.443 4.07 183.329 3.876 183.364 3.875 C 184.723 3.884 185.674 4.128 187.119 4.318 C 187.383 4.352 188.167 4.182 188.667 4.414 C 189.216 4.666 188.566 5.461 189.882 5.361 C 190.414 5.318 191.169 4.338 192.061 4.958 C 193.894 4.991 195.558 5.405 197.406 5.402 C 197.488 5.402 197.773 5.164 197.967 5.188 C 198.253 5.223 198.399 5.36 198.604 5.388 C 199.462 5.509 200.257 5.487 201.082 5.588 C 201.395 5.626 201.274 5.734 201.648 5.779 C 202.022 5.823 202.286 5.695 202.786 5.822 C 203.163 5.919 203.515 6.266 204.022 6.351 C 204.07 6.052 204.42 6.094 205.049 6.083 C 205.17 6.08 205.052 5.964 205.11 5.958 C 205.345 5.931 205.549 6.038 205.773 6.006 C 205.828 5.998 205.84 5.899 205.886 5.888 C 206.27 5.785 206.856 6.076 206.955 6.125 C 207.341 6.313 207.542 6.209 207.843 6.299 C 208.144 6.389 207.678 6.407 208.033 6.48 C 208.768 6.63 209.72 6.718 210.473 6.807 C 210.773 6.841 210.581 6.7 210.624 6.702 C 211.249 6.744 211.863 6.938 212.232 6.752 C 212.598 7.386 212.613 6.739 213.488 6.963 C 213.556 6.981 213.615 7.257 213.342 7.267 C 213.069 7.277 212.671 7.146 212.291 7.168 C 212.202 7.172 211.667 7.38 211.597 7.39 C 211.043 7.462 211.012 7.029 210.987 7.002 C 210.691 6.712 210.041 6.934 209.877 6.939 C 209.122 6.955 208.499 6.828 207.867 6.834 C 207.454 6.838 207.382 7.139 207.062 7.1 C 206 6.974 205.674 6.492 204.633 6.786 C 204.409 6.849 204.587 7.222 203.844 6.876 C 203.798 6.855 203.252 6.544 202.904 6.679 C 202.862 6.697 202.853 6.803 202.797 6.807 C 202.424 6.834 202.188 6.728 201.784 6.735 C 201.381 6.742 200.895 6.766 200.443 6.691 C 200.17 6.647 199.838 6.409 199.712 6.346 C 199.354 6.165 198.931 6.375 198.717 6.174 C 198.502 5.97 198.983 5.734 198.384 5.557 C 198.333 5.855 198.253 6.158 198.189 6.456 C 196.853 6.339 195.547 6.135 194.207 6.045 C 194.041 6.034 194.196 6.219 194.017 6.212 C 193.264 6.184 192.619 6.011 191.837 6.004 C 191.234 5.999 190.553 6.143 189.918 6.15 C 189.564 5.735 188.615 5.8 187.938 5.717 C 187.701 5.688 187.725 5.583 187.558 5.536 C 186.93 5.361 187.201 5.738 187.021 5.782 C 186.25 5.974 186.251 5.156 185.363 5.111 C 185.316 5.108 184.708 5.509 184.628 5.533 C 184.112 5.68 184.556 5.373 184.245 5.319 C 183.677 5.221 183.287 5.085 182.605 5.174 C 182.406 5.199 181.912 5.454 181.546 5.209 C 181.498 5.177 181.537 5.027 181.497 5.016 C 180.775 4.819 180.722 5.297 180.291 5.436 C 179.86 5.576 179.239 5.203 179.115 5.097 C 178.789 4.824 179.385 5.006 179.406 4.982 C 179.645 4.703 179.171 4.723 178.812 4.675 C 178.795 4.19 178.29 4.184 178.442 4.627 C 178.459 4.675 178.742 4.648 178.812 4.675 C 178.463 5.126 177.907 5.159 177.327 4.673 C 177.057 4.446 177.343 4.217 176.47 4.251 C 176.073 4.266 176.202 4.616 175.849 4.688 C 175.041 4.854 174.037 4.474 173.208 4.476 C 172.909 4.478 173.187 4.686 172.982 4.694 C 172.439 4.716 171.971 4.545 171.424 4.59 C 171.374 4.595 171.481 4.805 171.313 4.798 C 170.033 4.756 168.929 4.568 167.6 4.497 C 166.956 4.463 165.807 4.526 165.136 4.471 C 163.977 4.378 162.569 3.996 161.576 4.028 C 160.93 4.049 161.059 4.275 160.776 4.414 C 160.228 4.683 159.313 4.122 159.191 4.034 C 159.187 4.031 159.743 4.002 159.454 3.876 C 159.294 3.63 159.197 4.033 159.191 4.034 C 159.11 3.978 158.008 3.88 157.787 3.914 C 157.667 3.933 157.724 4.148 157.661 4.154 C 156.171 4.286 154.675 4.288 153.178 4.133 C 153.152 4.128 153.203 3.885 153.14 3.876 C 152.275 3.735 151.706 4.015 150.984 4.171 C 150.261 4.327 149.698 4.251 149.291 3.809 C 148.752 3.846 147.974 3.631 147.531 3.501 C 147.087 3.37 147.006 3.858 146.966 3.867 C 145.725 4.141 145.026 3.84 143.757 3.76 C 143.153 3.721 141.955 3.762 141.302 3.801 C 140.787 3.832 140.476 3.706 139.994 3.77 C 139.929 3.779 139.988 4.005 139.968 4.013 C 139.425 4.269 139.698 3.726 139.591 3.625 C 139.201 3.259 138.958 3.061 138.27 3.213 C 138.111 3.247 137.631 4.033 137.342 4.074 C 136.968 4.125 137.116 3.842 136.724 3.903 C 136.691 3.908 136.693 4.085 136.452 4.072 C 135.336 4.016 134.124 3.889 132.97 3.887 C 132.812 3.886 133.007 4.173 132.779 4.176 C 131.699 4.191 130.514 4.163 129.468 4.014 C 129.21 3.976 129.376 3.778 129.321 3.718 C 128.983 3.353 128.486 3.868 128.406 3.878 C 126.479 4.103 125.049 3.609 123.068 3.816 C 122.961 3.828 122.131 4.388 121.771 3.897 C 121.746 3.865 121.389 3.363 121.066 3.701 C 121.045 3.722 121.268 3.981 120.875 3.951 C 120.482 3.922 119.848 4.089 119.312 3.802 C 119.142 3.712 118.744 3.209 118.232 3.604 C 118.198 3.631 117.408 4.527 117.134 3.904 C 117.087 3.801 117.147 3.143 116.529 3.477 C 116.411 3.542 116.623 3.69 116.313 3.78 C 115.839 3.919 115.213 3.739 114.633 4.031 C 114.531 4.082 114.098 4.528 113.756 4.187 C 113.702 4.134 113.806 3.914 113.624 3.889 C 112.759 3.768 111.856 3.913 110.983 3.759 C 110.674 3.705 110.833 3.349 110.511 3.253 C 110.188 3.157 109.54 3.065 109.204 3.228 C 108.864 3.391 109.236 3.959 108.725 4.004 C 108.658 4.01 108.593 4.015 108.527 4.02 C 106.37 4.183 104.246 3.873 102.124 3.836 C 101.8 3.83 102.07 4.032 101.592 4.038 C 99.797 4.061 96.729 4.272 95.197 3.859 C 93.967 3.529 95.506 3.252 94.568 3.123 C 94.119 3.062 93.626 3.72 93.517 3.742 C 92.436 3.962 91.682 3.683 90.715 3.784 C 90.516 3.805 90.716 4.066 90.546 4.08 C 89.966 4.133 89.356 4.024 88.805 4.053 C 88.558 4.067 88.607 4.266 88.379 4.254 C 87.835 4.227 87.353 4.149 86.822 3.971 C 86.772 3.954 87.095 3.701 86.689 3.699 C 86.025 3.695 85.2 3.526 84.446 3.729 C 84.223 3.79 84.224 4.242 83.734 3.938 C 83.632 3.875 83.748 3.33 83.198 3.809 C 83.105 3.889 82.18 4.536 81.711 4.139 C 81.587 4.034 81.267 3.599 81.001 3.674 C 80.965 3.686 81.117 3.924 80.896 3.952 C 80.121 4.046 79.297 4.037 78.481 4.13 C 78.264 4.155 78.594 4.395 78.271 4.424 C 77.382 4.505 76.274 4.466 75.411 4.409 C 75.092 4.387 75.305 4.18 75.282 4.158 C 74.899 3.809 74.695 4.298 74.573 4.328 C 73.811 4.515 73.234 4.302 72.522 4.38 C 72.324 4.401 72.473 4.625 72.434 4.647 C 72.032 4.855 72.322 4.438 72.062 4.4 C 71.333 4.291 70.529 4.331 69.804 4.38 C 69.538 4.398 69.847 4.651 69.608 4.664 C 68.187 4.746 66.758 4.759 65.354 4.66 C 65.09 4.641 65.248 4.439 65.191 4.396 C 64.8 4.093 64.267 4.539 64.142 4.584 C 63.574 4.787 63.343 4.621 62.839 4.67 C 60.399 4.906 57.313 4.897 54.993 4.919 C 52.005 4.944 49.551 4.881 46.71 5.055 C 46.523 5.066 46.726 5.289 46.565 5.301 C 44.477 5.449 42.504 5.452 40.447 5.617 C 40.276 5.63 40.536 5.826 40.263 5.853 C 39.702 5.911 38.994 5.933 38.429 5.896 C 38.153 5.878 38.508 5.685 38.231 5.672 C 37.586 5.639 36.904 5.661 36.258 5.728 C 35.984 5.756 36.414 5.938 36.056 5.959 C 33.539 6.111 31.182 6.263 28.608 6.177 C 28.433 6.171 28.25 5.804 27.889 5.901 C 27.87 6.007 27.881 6.129 27.878 6.24 C 24.324 6.515 20.736 6.63 17.079 6.893 C 16.928 6.903 17.205 7.052 16.913 7.073 C 15.285 7.188 13.499 7.366 11.803 7.351 C 11.633 7.35 11.69 7.076 11.201 7.16 C 11.107 7.175 10.319 7.281 10.125 7.355 C 10.098 7.366 10.253 7.474 10.002 7.499 C 8.536 7.644 7.102 7.74 5.605 7.818 C 5.371 7.83 5.605 7.691 5.438 7.699 C 4.27 7.755 3.023 7.968 1.869 7.999 C 1.116 8.019 1.37 7.81 0.957 7.685 C 0.898 7.667 0.45 7.72 0.415 7.625 C 0.323 7.385 0.503 7.081 0.38 6.829 C 0.359 6.787 0.006 6.87 0 6.821 C 0 6.821 0 6.821 0 6.821 C -0.002 6.807 0.026 6.781 0.102 6.737 C 0.124 6.724 0.549 6.609 0.651 6.544 C 0.722 6.499 0.574 6.42 0.721 6.352 C 0.869 6.284 1.049 6.342 1.3 6.25 C 1.553 6.156 1.421 6.057 1.943 5.954 Z' fill='%23fc2919' transform='translate(0.918 1.859)'/%3E%3C/svg%3E")
    no-repeat;
  mask: url("data:image/svg+xml,%3Csvg display='block' role='presentation' viewBox='0 0 219 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1.943 5.954 C 3.214 5.709 4.701 5.499 5.952 5.362 C 6.34 5.319 6.152 5.422 6.422 5.396 C 6.967 5.345 7.403 5.241 7.905 5.204 C 8.07 5.192 7.879 5.343 8.052 5.328 C 9.002 5.247 9.915 5.089 10.927 4.981 C 15.704 4.477 20.405 3.993 25.313 3.559 C 26.874 3.419 28.896 3.381 30.533 3.157 C 30.723 3.131 30.597 2.985 30.633 2.969 C 31.186 2.716 31.021 3.051 31.397 3.058 C 32.879 3.088 34.611 2.956 36.02 2.77 C 36.622 2.691 35.992 2.412 36.615 2.545 C 36.658 2.554 36.517 2.745 36.684 2.75 C 37.064 2.76 37.782 2.669 38.079 2.659 C 38.651 2.641 38.746 2.631 39.289 2.59 C 40.028 2.535 40.947 2.556 41.707 2.455 C 41.873 2.433 41.64 2.259 41.903 2.205 C 42.166 2.152 42.874 2.113 43.116 2.14 C 43.358 2.168 43.266 2.328 43.31 2.36 C 43.677 2.63 44.477 2.16 44.584 2.141 C 46.539 1.82 48.179 1.944 49.995 1.824 C 51.366 1.731 52.893 1.551 54.168 1.483 C 55.716 1.401 57.05 1.44 58.587 1.333 C 58.749 1.322 58.547 1.077 58.745 1.063 C 60.824 0.914 62.86 0.83 64.969 0.906 C 65.18 0.914 64.918 1.16 65.13 1.182 C 66.431 1.31 68.413 1.698 69.139 0.629 C 70.002 0.631 71.055 0.627 71.841 0.807 C 72.349 0.923 71.869 1.205 72.483 1.069 C 72.622 1.038 72.433 0.815 72.641 0.787 C 73.496 0.668 74.44 0.708 75.294 0.556 C 75.468 0.524 75.414 0.317 75.462 0.278 C 75.868 -0.043 76.578 0.435 76.73 0.467 C 77.891 0.701 78.743 0.565 79.819 0.538 C 80.065 0.531 79.766 0.256 80.003 0.24 C 81.23 0.159 82.513 0.144 83.735 0.238 C 84.007 0.26 83.763 0.512 83.893 0.535 C 84.467 0.634 84.584 0.166 85.136 0.252 C 85.253 0.269 85.192 0.482 85.214 0.505 C 85.553 0.86 85.83 0.337 85.915 0.324 C 87.004 0.14 87.671 0.666 88.703 0.567 C 88.826 0.555 88.543 0.292 88.889 0.273 C 91.184 0.149 93.699 0.177 95.956 0.364 C 96.311 0.393 96.061 0.601 96.083 0.626 C 96.452 1.016 96.682 0.484 96.797 0.463 C 97.711 0.308 98.573 0.743 99.193 0.105 C 102.359 0.248 105.39 0.038 108.526 0.247 C 109.303 0.298 110.045 0.375 110.805 0.489 C 110.854 0.496 110.766 0.758 110.863 0.77 C 112.035 0.92 111.811 0.512 112.59 0.017 C 112.787 -0.107 113.381 0.497 113.434 0.541 C 113.626 0.704 113.424 1.093 113.488 1.125 C 114.021 1.374 113.939 0.085 114.661 0.089 C 114.684 0.092 114.588 0.328 114.648 0.352 C 114.837 0.427 115.024 0.334 115.207 0.417 C 115.629 0.609 115.774 1.235 116.422 0.876 C 116.504 0.83 116.387 0.099 117.03 0.139 C 117.284 0.156 118.41 0.154 118.726 0.205 C 119.041 0.256 118.822 0.488 118.845 0.498 C 119.693 0.818 119.369 0.943 119.791 1.406 C 120.212 1.868 120.105 0.777 120.281 0.657 C 120.458 0.538 121.081 0.801 121.234 0.892 C 121.386 0.983 121.193 1.129 121.329 1.181 C 122.233 1.52 121.735 0.646 122.036 0.478 C 122.748 0.08 123.289 0.894 123.936 0.982 C 124.111 1.006 123.971 0.821 124.127 0.806 C 124.75 0.751 125.11 1.007 125.811 0.79 C 125.926 0.755 126.497 0.285 126.857 0.645 C 126.907 0.696 126.757 0.893 127.018 0.942 C 127.407 1.017 128.11 1.074 128.533 1.016 C 128.844 0.973 128.494 0.639 128.884 0.749 C 129.057 0.798 128.73 0.982 129.056 1.058 C 129.38 1.134 130.213 1.144 130.53 1.144 C 130.847 1.145 130.678 0.894 130.705 0.878 C 130.862 0.786 131.473 0.682 131.527 0.684 C 134.241 0.722 136.691 1.202 139.338 1.152 C 139.546 1.148 139.416 0.89 139.447 0.887 C 140.16 0.805 139.581 1.46 140.069 1.701 C 140.013 1.185 140.303 1.288 140.805 1.248 C 141.046 1.229 140.921 1.026 140.943 1.007 C 141.307 0.718 141.541 1.116 141.601 1.197 C 141.826 1.497 142.093 1.161 142.246 1.362 C 142.399 1.561 142.023 1.835 142.498 1.847 C 142.638 1.669 142.299 1.181 142.663 1.116 C 144.034 0.875 146.574 1.349 147.676 1.433 C 148.775 1.517 149.133 1.5 149.766 1.591 C 150.909 1.757 150.502 1.397 151.223 1.275 C 151.947 1.154 151.563 1.972 151.659 2.156 C 151.753 2.339 151.871 2.16 151.993 2.264 C 152.114 2.367 151.837 2.477 152.13 2.527 C 152.424 2.576 153.245 2.294 153.358 2.113 C 153.598 1.73 153.25 1.299 154.027 1.483 C 154.072 1.494 153.916 1.704 154.087 1.734 C 155.448 1.967 156.887 2.05 158.236 2.265 C 158.422 2.295 158.243 2.521 158.352 2.541 C 159.479 2.748 159.094 2.332 159.738 1.93 C 159.569 2.503 159.895 2.877 160.758 2.924 C 161.277 2.953 161.2 2.696 161.546 2.538 C 161.649 2.49 162.008 2.682 162.081 2.569 C 162.321 2.197 161.997 1.747 162.88 1.972 C 162.919 1.982 162.783 2.184 162.917 2.205 C 163.788 2.339 163.914 1.948 164.864 1.961 C 165.613 1.972 166.907 2.295 167.745 2.388 C 167.692 3.005 168.494 2.911 168.841 2.511 C 169.387 2.565 169.977 2.581 170.503 2.675 C 170.683 2.707 170.553 2.874 170.575 2.894 C 170.908 3.213 171.171 2.825 171.29 2.818 C 172.578 2.754 173.611 3.128 174.844 2.927 C 174.888 2.919 174.984 2.522 175.29 2.84 C 175.309 2.862 174.896 3.016 175.467 3.072 C 176.038 3.129 177.103 3.421 177.912 3.299 C 178.107 3.269 178.618 2.992 178.991 3.27 C 179.041 3.307 178.976 3.414 179.046 3.482 C 179.277 3.697 179.436 3.317 179.699 3.67 C 179.962 4.023 180.539 4.309 181.36 4.144 C 181.385 4.14 181.598 3.852 181.852 3.877 C 182.255 3.916 182.824 4.024 183.243 4.055 C 183.443 4.07 183.329 3.876 183.364 3.875 C 184.723 3.884 185.674 4.128 187.119 4.318 C 187.383 4.352 188.167 4.182 188.667 4.414 C 189.216 4.666 188.566 5.461 189.882 5.361 C 190.414 5.318 191.169 4.338 192.061 4.958 C 193.894 4.991 195.558 5.405 197.406 5.402 C 197.488 5.402 197.773 5.164 197.967 5.188 C 198.253 5.223 198.399 5.36 198.604 5.388 C 199.462 5.509 200.257 5.487 201.082 5.588 C 201.395 5.626 201.274 5.734 201.648 5.779 C 202.022 5.823 202.286 5.695 202.786 5.822 C 203.163 5.919 203.515 6.266 204.022 6.351 C 204.07 6.052 204.42 6.094 205.049 6.083 C 205.17 6.08 205.052 5.964 205.11 5.958 C 205.345 5.931 205.549 6.038 205.773 6.006 C 205.828 5.998 205.84 5.899 205.886 5.888 C 206.27 5.785 206.856 6.076 206.955 6.125 C 207.341 6.313 207.542 6.209 207.843 6.299 C 208.144 6.389 207.678 6.407 208.033 6.48 C 208.768 6.63 209.72 6.718 210.473 6.807 C 210.773 6.841 210.581 6.7 210.624 6.702 C 211.249 6.744 211.863 6.938 212.232 6.752 C 212.598 7.386 212.613 6.739 213.488 6.963 C 213.556 6.981 213.615 7.257 213.342 7.267 C 213.069 7.277 212.671 7.146 212.291 7.168 C 212.202 7.172 211.667 7.38 211.597 7.39 C 211.043 7.462 211.012 7.029 210.987 7.002 C 210.691 6.712 210.041 6.934 209.877 6.939 C 209.122 6.955 208.499 6.828 207.867 6.834 C 207.454 6.838 207.382 7.139 207.062 7.1 C 206 6.974 205.674 6.492 204.633 6.786 C 204.409 6.849 204.587 7.222 203.844 6.876 C 203.798 6.855 203.252 6.544 202.904 6.679 C 202.862 6.697 202.853 6.803 202.797 6.807 C 202.424 6.834 202.188 6.728 201.784 6.735 C 201.381 6.742 200.895 6.766 200.443 6.691 C 200.17 6.647 199.838 6.409 199.712 6.346 C 199.354 6.165 198.931 6.375 198.717 6.174 C 198.502 5.97 198.983 5.734 198.384 5.557 C 198.333 5.855 198.253 6.158 198.189 6.456 C 196.853 6.339 195.547 6.135 194.207 6.045 C 194.041 6.034 194.196 6.219 194.017 6.212 C 193.264 6.184 192.619 6.011 191.837 6.004 C 191.234 5.999 190.553 6.143 189.918 6.15 C 189.564 5.735 188.615 5.8 187.938 5.717 C 187.701 5.688 187.725 5.583 187.558 5.536 C 186.93 5.361 187.201 5.738 187.021 5.782 C 186.25 5.974 186.251 5.156 185.363 5.111 C 185.316 5.108 184.708 5.509 184.628 5.533 C 184.112 5.68 184.556 5.373 184.245 5.319 C 183.677 5.221 183.287 5.085 182.605 5.174 C 182.406 5.199 181.912 5.454 181.546 5.209 C 181.498 5.177 181.537 5.027 181.497 5.016 C 180.775 4.819 180.722 5.297 180.291 5.436 C 179.86 5.576 179.239 5.203 179.115 5.097 C 178.789 4.824 179.385 5.006 179.406 4.982 C 179.645 4.703 179.171 4.723 178.812 4.675 C 178.795 4.19 178.29 4.184 178.442 4.627 C 178.459 4.675 178.742 4.648 178.812 4.675 C 178.463 5.126 177.907 5.159 177.327 4.673 C 177.057 4.446 177.343 4.217 176.47 4.251 C 176.073 4.266 176.202 4.616 175.849 4.688 C 175.041 4.854 174.037 4.474 173.208 4.476 C 172.909 4.478 173.187 4.686 172.982 4.694 C 172.439 4.716 171.971 4.545 171.424 4.59 C 171.374 4.595 171.481 4.805 171.313 4.798 C 170.033 4.756 168.929 4.568 167.6 4.497 C 166.956 4.463 165.807 4.526 165.136 4.471 C 163.977 4.378 162.569 3.996 161.576 4.028 C 160.93 4.049 161.059 4.275 160.776 4.414 C 160.228 4.683 159.313 4.122 159.191 4.034 C 159.187 4.031 159.743 4.002 159.454 3.876 C 159.294 3.63 159.197 4.033 159.191 4.034 C 159.11 3.978 158.008 3.88 157.787 3.914 C 157.667 3.933 157.724 4.148 157.661 4.154 C 156.171 4.286 154.675 4.288 153.178 4.133 C 153.152 4.128 153.203 3.885 153.14 3.876 C 152.275 3.735 151.706 4.015 150.984 4.171 C 150.261 4.327 149.698 4.251 149.291 3.809 C 148.752 3.846 147.974 3.631 147.531 3.501 C 147.087 3.37 147.006 3.858 146.966 3.867 C 145.725 4.141 145.026 3.84 143.757 3.76 C 143.153 3.721 141.955 3.762 141.302 3.801 C 140.787 3.832 140.476 3.706 139.994 3.77 C 139.929 3.779 139.988 4.005 139.968 4.013 C 139.425 4.269 139.698 3.726 139.591 3.625 C 139.201 3.259 138.958 3.061 138.27 3.213 C 138.111 3.247 137.631 4.033 137.342 4.074 C 136.968 4.125 137.116 3.842 136.724 3.903 C 136.691 3.908 136.693 4.085 136.452 4.072 C 135.336 4.016 134.124 3.889 132.97 3.887 C 132.812 3.886 133.007 4.173 132.779 4.176 C 131.699 4.191 130.514 4.163 129.468 4.014 C 129.21 3.976 129.376 3.778 129.321 3.718 C 128.983 3.353 128.486 3.868 128.406 3.878 C 126.479 4.103 125.049 3.609 123.068 3.816 C 122.961 3.828 122.131 4.388 121.771 3.897 C 121.746 3.865 121.389 3.363 121.066 3.701 C 121.045 3.722 121.268 3.981 120.875 3.951 C 120.482 3.922 119.848 4.089 119.312 3.802 C 119.142 3.712 118.744 3.209 118.232 3.604 C 118.198 3.631 117.408 4.527 117.134 3.904 C 117.087 3.801 117.147 3.143 116.529 3.477 C 116.411 3.542 116.623 3.69 116.313 3.78 C 115.839 3.919 115.213 3.739 114.633 4.031 C 114.531 4.082 114.098 4.528 113.756 4.187 C 113.702 4.134 113.806 3.914 113.624 3.889 C 112.759 3.768 111.856 3.913 110.983 3.759 C 110.674 3.705 110.833 3.349 110.511 3.253 C 110.188 3.157 109.54 3.065 109.204 3.228 C 108.864 3.391 109.236 3.959 108.725 4.004 C 108.658 4.01 108.593 4.015 108.527 4.02 C 106.37 4.183 104.246 3.873 102.124 3.836 C 101.8 3.83 102.07 4.032 101.592 4.038 C 99.797 4.061 96.729 4.272 95.197 3.859 C 93.967 3.529 95.506 3.252 94.568 3.123 C 94.119 3.062 93.626 3.72 93.517 3.742 C 92.436 3.962 91.682 3.683 90.715 3.784 C 90.516 3.805 90.716 4.066 90.546 4.08 C 89.966 4.133 89.356 4.024 88.805 4.053 C 88.558 4.067 88.607 4.266 88.379 4.254 C 87.835 4.227 87.353 4.149 86.822 3.971 C 86.772 3.954 87.095 3.701 86.689 3.699 C 86.025 3.695 85.2 3.526 84.446 3.729 C 84.223 3.79 84.224 4.242 83.734 3.938 C 83.632 3.875 83.748 3.33 83.198 3.809 C 83.105 3.889 82.18 4.536 81.711 4.139 C 81.587 4.034 81.267 3.599 81.001 3.674 C 80.965 3.686 81.117 3.924 80.896 3.952 C 80.121 4.046 79.297 4.037 78.481 4.13 C 78.264 4.155 78.594 4.395 78.271 4.424 C 77.382 4.505 76.274 4.466 75.411 4.409 C 75.092 4.387 75.305 4.18 75.282 4.158 C 74.899 3.809 74.695 4.298 74.573 4.328 C 73.811 4.515 73.234 4.302 72.522 4.38 C 72.324 4.401 72.473 4.625 72.434 4.647 C 72.032 4.855 72.322 4.438 72.062 4.4 C 71.333 4.291 70.529 4.331 69.804 4.38 C 69.538 4.398 69.847 4.651 69.608 4.664 C 68.187 4.746 66.758 4.759 65.354 4.66 C 65.09 4.641 65.248 4.439 65.191 4.396 C 64.8 4.093 64.267 4.539 64.142 4.584 C 63.574 4.787 63.343 4.621 62.839 4.67 C 60.399 4.906 57.313 4.897 54.993 4.919 C 52.005 4.944 49.551 4.881 46.71 5.055 C 46.523 5.066 46.726 5.289 46.565 5.301 C 44.477 5.449 42.504 5.452 40.447 5.617 C 40.276 5.63 40.536 5.826 40.263 5.853 C 39.702 5.911 38.994 5.933 38.429 5.896 C 38.153 5.878 38.508 5.685 38.231 5.672 C 37.586 5.639 36.904 5.661 36.258 5.728 C 35.984 5.756 36.414 5.938 36.056 5.959 C 33.539 6.111 31.182 6.263 28.608 6.177 C 28.433 6.171 28.25 5.804 27.889 5.901 C 27.87 6.007 27.881 6.129 27.878 6.24 C 24.324 6.515 20.736 6.63 17.079 6.893 C 16.928 6.903 17.205 7.052 16.913 7.073 C 15.285 7.188 13.499 7.366 11.803 7.351 C 11.633 7.35 11.69 7.076 11.201 7.16 C 11.107 7.175 10.319 7.281 10.125 7.355 C 10.098 7.366 10.253 7.474 10.002 7.499 C 8.536 7.644 7.102 7.74 5.605 7.818 C 5.371 7.83 5.605 7.691 5.438 7.699 C 4.27 7.755 3.023 7.968 1.869 7.999 C 1.116 8.019 1.37 7.81 0.957 7.685 C 0.898 7.667 0.45 7.72 0.415 7.625 C 0.323 7.385 0.503 7.081 0.38 6.829 C 0.359 6.787 0.006 6.87 0 6.821 C 0 6.821 0 6.821 0 6.821 C -0.002 6.807 0.026 6.781 0.102 6.737 C 0.124 6.724 0.549 6.609 0.651 6.544 C 0.722 6.499 0.574 6.42 0.721 6.352 C 0.869 6.284 1.049 6.342 1.3 6.25 C 1.553 6.156 1.421 6.057 1.943 5.954 Z' fill='%23fc2919' transform='translate(0.918 1.859)'/%3E%3C/svg%3E")
    no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  z-index: 0;
  animation: wiggle 4s ease-in-out infinite;
  will-change: transform;
}

@keyframes wiggle {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(6px);
  }
}

/* animate-up-down */
.animate-up-down {
  animation: up-down 5s ease-in-out infinite;
  will-change: transform;
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

/* animate-plan */
.animate-plan {
  animation: plan 6s ease infinite;
  will-change: transform;
}

@keyframes plan {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-30px) translateX(-30px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

/* animate-glow */
.animate-glow {
  animation: glow 6s ease-in-out infinite;
  will-change: transform;
}

@keyframes glow {
  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 0.9;
  }
}
/* animate-stroke-dashoffset */
.animate-stroke-dashoffset {
  animation: stroke-dashoffset 7s ease-in-out infinite;
  will-change: stroke-dashoffset;
}

@keyframes stroke-dashoffset {
  0% {
    stroke-dashoffset: 941;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 941;
  }
}

/* has-em */
.has-em {
  @apply prose-em:font-secondary prose-em:italic prose-em:font-light;
}

/* pass-shape */
.pass-shape {
  image-rendering: pixelated;
  flex-shrink: 0;
  background-size: 100% 100%;
}
.pass-shape-1 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 119.486 119.483" overflow="visible"><g><defs><linearGradient id="idsYYhQCI_ai_1g-82890624" x1="0" x2="1" y1="0.5403415780962787" y2="0.4596584219037213"><stop offset="0" stop-color="rgb(84,238,37)" stop-opacity="1"></stop><stop offset="1" stop-color="rgb(255,64,67)" stop-opacity="1"></stop></linearGradient></defs><path d="M 106.316 33.607 C 106.799 25.468 103.263 17.609 96.852 12.573 C 90.441 7.537 81.968 5.962 74.176 8.36 C 68.767 2.268 60.719 -0.789 52.63 0.175 C 44.541 1.14 37.437 6.004 33.613 13.197 C 25.485 12.718 17.638 16.247 12.604 22.645 C 7.569 29.043 5.984 37.5 8.36 45.287 C 2.268 50.695 -0.789 58.744 0.175 66.832 C 1.14 74.921 6.004 82.025 13.197 85.85 C 12.708 93.987 16.237 101.848 22.644 106.889 C 29.05 111.931 37.52 113.513 45.315 111.125 C 50.723 117.216 58.772 120.273 66.86 119.308 C 74.949 118.344 82.053 113.48 85.878 106.288 C 94.01 106.769 101.863 103.236 106.898 96.831 C 111.932 90.426 113.512 81.962 111.128 74.173 C 117.219 68.764 120.276 60.715 119.311 52.627 C 118.347 44.538 113.483 37.434 106.291 33.61 Z" fill="url(%23idsYYhQCI_ai_1g-82890624)"></path></g></svg>');
}
.pass-shape-2 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 119.486 119.483" overflow="visible"><g><defs><linearGradient id="idsOsO9WCWRPYYhQCI_ai_1g-695502849" x1="0.12245631535350032" x2="0.8775436846464997" y1="5.551115123125783e-17" y2="1"><stop offset="0" stop-color="rgb(96, 60, 255)" stop-opacity="1"></stop><stop offset="0.5097292997355002" stop-color="rgb(255, 71, 96)" stop-opacity="1"></stop><stop offset="1" stop-color="rgb(255, 131, 64)" stop-opacity="1"></stop></linearGradient></defs><path d="M 106.316 33.607 C 106.799 25.468 103.263 17.609 96.852 12.573 C 90.441 7.537 81.968 5.962 74.176 8.36 C 68.767 2.268 60.719 -0.789 52.63 0.175 C 44.541 1.14 37.437 6.004 33.613 13.197 C 25.485 12.718 17.638 16.247 12.604 22.645 C 7.569 29.043 5.984 37.5 8.36 45.287 C 2.268 50.695 -0.789 58.744 0.175 66.832 C 1.14 74.921 6.004 82.025 13.197 85.85 C 12.708 93.987 16.237 101.848 22.644 106.889 C 29.05 111.931 37.52 113.513 45.315 111.125 C 50.723 117.216 58.772 120.273 66.86 119.308 C 74.949 118.344 82.053 113.48 85.878 106.288 C 94.01 106.769 101.863 103.236 106.898 96.831 C 111.932 90.426 113.512 81.962 111.128 74.173 C 117.219 68.764 120.276 60.715 119.311 52.627 C 118.347 44.538 113.483 37.434 106.291 33.61 Z" fill="url(%23idsOsO9WCWRPYYhQCI_ai_1g-695502849)"></path></g></svg>');
}
.pass-shape-3 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 119.486 119.483" overflow="visible"><g><defs><linearGradient id="idsdyjrln_dgYYhQCI_ai_1g1925927392" x1="0" x2="1" y1="1.1102230246251565e-16" y2="0.9999999999999999"><stop offset="0" stop-color="rgb(255, 115, 115)" stop-opacity="1"></stop><stop offset="1" stop-color="rgb(158, 8, 103)" stop-opacity="1"></stop></linearGradient></defs><path d="M 106.316 33.607 C 106.799 25.468 103.263 17.609 96.852 12.573 C 90.441 7.537 81.968 5.962 74.176 8.36 C 68.767 2.268 60.719 -0.789 52.63 0.175 C 44.541 1.14 37.437 6.004 33.613 13.197 C 25.485 12.718 17.638 16.247 12.604 22.645 C 7.569 29.043 5.984 37.5 8.36 45.287 C 2.268 50.695 -0.789 58.744 0.175 66.832 C 1.14 74.921 6.004 82.025 13.197 85.85 C 12.708 93.987 16.237 101.848 22.644 106.889 C 29.05 111.931 37.52 113.513 45.315 111.125 C 50.723 117.216 58.772 120.273 66.86 119.308 C 74.949 118.344 82.053 113.48 85.878 106.288 C 94.01 106.769 101.863 103.236 106.898 96.831 C 111.932 90.426 113.512 81.962 111.128 74.173 C 117.219 68.764 120.276 60.715 119.311 52.627 C 118.347 44.538 113.483 37.434 106.291 33.61 Z" fill="url(%23idsdyjrln_dgYYhQCI_ai_1g1925927392)"></path></g></svg>');
}

/* animate rotate */

/* Tab content animations */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animate-slide-in-up {
  animation: slideInUp 300ms ease-out forwards;
  z-index: 10;
}

.animate-slide-out-up {
  animation: slideOutUp 300ms ease-out forwards;
  z-index: 5;
}

.animate-slide-in-down {
  animation: slideInDown 300ms ease-out forwards;
  z-index: 5;
}

.animate-slide-out-down {
  animation: slideOutDown 300ms ease-out forwards;
  z-index: 10;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}

.analytics-title {
  @apply select-auto tabular-nums m-0 bg-clip-text text-transparent [background-image:linear-gradient(85deg,rgb(96,60,255),rgb(255,131,64))] font-['Instrument_Serif','Instrument_Serif_Placeholder',serif] [font-feature-settings:'zero','tnum'] text-[70px] italic font-normal tracking-[-0.04em] leading-[1.16em] text-center w-full;
}

/*  section-title  */
.section-title em {
  @apply font-secondary font-light italic pr-2.5 inline-block text-primary;
}

/* Button Grab effect */
